
@font-face {
  font-family: 'Yekan';
  src:	url('/public/fonts/Yekan/Yekan.eot'); /* IE9 Compat Modes */
  src:	url('/public/fonts/Yekan/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/public/fonts/Yekan/Yekan.woff2') format('woff2'), /* Modern Browsers */
      url('/public/fonts/Yekan/Yekan.woff') format('woff'), /* Modern Browsers */
      url('/public/fonts/Yekan/Yekan.otf') format('opentype'), /* Open Type Font */	
      url('/public/fonts/Yekan/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
body, html{
  font-family: 'Yekan';
  direction: rtl;
  text-align: right;
  color: #747070;
}

body {
  max-width: 1000px;
  padding: 25px;
  margin: auto;
  background-color: #dddddd;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
a, button{
  font-family: 'Yekan';
}